
a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
ul{
  list-style: none;
}



.nav{
  position: fixed;
  z-index: 2;
  inset: 0;
  height: 40px;
  padding: 10px 40px ;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -4px 12px chocolate;

}
.navlist{
  display: flex;
  gap: 20px;
}
.logo{
    font-family: monospace;
    font-size: 1rem;
}
.searchform{
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
 width:100%;
  max-width: 400rem;
}

.searchform input{
background: transparent;
  border: 0;
  outline: 0;
  display: block;
  width: 100%;
  padding-left: 10px;
}
.search_btn{
  background: transparent;
  border: 0;
  outline: 0;
  display: none;
}
.loader{
  display: flex;
  align-items: flex-end;
  height: 40px;
}
.loader span{
  display: block;
  width: 30px;
  height: 1px;
  background: chocolate;
  animation: load 1s infinite;
}
.loader span:nth-of-type(2){

  animation-delay: -.25s;
}
.loader span:nth-of-type(3){
  animation-delay: -.5s;
}


@keyframes load{
  
 
  50%{
    height: 40px;
  }

  100%{
    height: 1px;
  }


}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 50px;

}
.cocktail{
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 10px black;
}
.image_container{
  width: 100%;
  overflow: hidden;
}
.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cocktail_deets{
  padding:  10px;
  
  
}
.cocktail_deets h3{
    margin: 0;
    padding: 0;
}
.cocktail_deets h4{
  
}
.cocktail_deets span{
  background: lemonchiffon;
   border-radius: 10px;
   padding: 5px;
}
.cocktailpage{
  width: 100vw;
  display: grid;
  place-items: center;
}
.co_image{
  width: 100%;
}
.drink{
  margin: 0 auto;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;

  
}
.drink > span{
  width: 200px;
  ;
}
.drinkinfo{
  max-width: 300px;

}
.drink_data{
  background: lemonchiffon;
  padding: 2px;
  border-radius: 5px;
}

@media (max-width:700px){
  .searchform input{
      display: none;

  }
  .search_btn{
    display: block;
  }
.search_sm_screen input{
  display: block;
}
  .search_sm_screen{
    position: absolute;
    background: white;
    height: 100%;
    inset: 0;
    border: none;
  }

}
.hero{
  display: grid;
  place-items: center;
  background-color: white;
}

